body {
	background: #21211f;
	width: 702px;
	font-family: helvetica, arial, sans-serif;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}